@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset & body 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui;
  background-color: black;
  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
}

/* blur 레이어 그림자 */
.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;
}

.prose code {
  background-color: rgba(100, 116, 139, 0.15);  /* slate-600/20 같은 느낌 */
  color: #38bdf8;
  padding: 0.15em 0.35em;
  border-radius: 0.25em;
  font-size: 0.96em;
  font-family: 'Fira Mono', 'Menlo', 'Consolas', monospace;
}

.prose pre code {
  color: inherit;
  /* background: none; */
}